<mat-card>
  <mat-card-header>
      <img mat-card-avatar src="{{stats?.icon}}">
    <mat-card-title>{{battleTag}}</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="stats; else loading">
    <div class="trophy-case">
      <img mat-card-avatar *ngIf="stats?.prestigeIcon" src="{{stats.prestigeIcon}}">
      <img mat-card-avatar *ngIf="stats?.ratingIcon" src="{{stats.ratingIcon}}">
      <img mat-card-avatar *ngIf="stats?.endorsementIcon" src="{{stats.endorsementIcon}}">
    </div>
    <div class="overview">
      <div class="stat">
        <span class="label">SR:</span>
        <span class="value">{{ stats.rating }}</span>
      </div>
      <div class="stat">
        <span class="label">Level:</span>
        <span class="value">{{ stats.level }}</span>
      </div>
      <div class="stat">
        <span class="label">Prestige:</span>
        <span class="value">{{ stats.prestige }}</span>
      </div>
      <div class="stat">
        <span class="label">Endorsement Level:</span>
        <span class="value">{{ stats.endorsement }}</span>
      </div>
    </div>
    <div class="qp-stats" *ngIf="stats.quickPlayStats && stats.quickPlayStats.games">
      <h2>QuickPlay Stats:</h2>
      <p>Games Played: {{ stats.quickPlayStats.games.played }}</p>
      <p>Games Won: {{ stats.quickPlayStats.games.won }}</p>
    </div>
    <div class="comp-stats" *ngIf="stats.competitiveStats && stats.competitiveStats.games">
      <h2>Competitive Stats:</h2>
      <p>Games Played: {{ stats.competitiveStats.games.played }}</p>
      <p>Games Won: {{ stats.competitiveStats.games.won }}</p>
    </div>
  </mat-card-content>
  <ng-template #loading>
      <mat-spinner></mat-spinner>
  </ng-template>
</mat-card>
