@import '../../../../variables.scss';

:host {
  .card-container {
    width: inherit;
    margin: inherit;
    min-width: inherit;
    min-height: inherit;
    .flippable-card {
      width: inherit;
      min-width: inherit;
      min-height: inherit;
      transform-style: preserve-3d;
      transition: transform 1s;
      &.flipped {
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        mat-card {
          &.back {
            pointer-events: all;
          }
          &.front {
            pointer-events: none;
          }
        }
      }
      mat-card {
        position: absolute;
        backface-visibility: hidden;
        &.back {
          transform: rotateY(180deg);
          pointer-events: none;
        }
        &.front {
          pointer-events: all;
        }
      }
    }
  }
  mat-card {
    padding: 0px 10px;
    width: inherit;
    min-width: inherit;
    min-height: inherit;
    mat-card-header {
      mat-card-title {
        font-size: 24px;
        font-weight: bold;
      }
      &.actions {
        width: 100%;
        display: inline-block;
        button.flip {
          float: left;
          margin-left: -10px;
        }
        button.close {
          float: right;
          margin-right: -10px;
        }
      }
    }
    mat-spinner {
      margin: 0px auto;
      margin-top: 40%;
    }
    mat-card-content {
      .platform-region {
        text-align: center;
        margin-top: 20px;
        font-size: 20px;
        font-weight: bold;
        span {
          margin: 0px 10px;
        }
      }
      .trophy-case {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 20px 0px;
        img {
          margin: 0px 10px;
        }
      }
      .overview {
        .stat {
          margin: 20px 20px;
          .label {
            color: $primary;
            font-size: 24px;
            font-weight: bold;
            margin-right: 10px;
          }
          .value {
            color: $accent;
            font-size: 24px;
          }
        }
      }
      &.error {
        text-align: center;
        a {
          color: $accent;
          cursor: pointer;
        }
      }
    }
    iframe {
      height: 300px;
      margin-top: 10px;
    }
  }
}
