@import '../../../../variables.scss';

:host {
  mat-card {
    width: inherit;
    margin: inherit;
    min-width: inherit;
    min-height: inherit;
    mat-card-header {
      mat-card-title {
        font-size: 24px;
        font-weight: bold;
      }
    }
    mat-spinner {
      margin: 20px auto;
    }
    mat-card-content {
      .platform-region {
        text-align: center;
        margin-top: 20px;
        font-size: 20px;
        font-weight: bold;
        span {
          margin: 0px 10px;
        }
      }
      .trophy-case {
        margin: 20px 0px;
        img {
          margin: 0px 20px;
        }
      }
      .overview {
        .stat {
          margin: 20px 20px;
          .label {
            color: $primary;
            font-size: 24px;
            font-weight: bold;
            margin-right: 10px;
          }
          .value {
            color: $accent;
            font-size: 24px;
          }
        }
      }
    }
  }
}
