<mat-card class="header">
  <mat-card-title>
    <h4>Dashboards</h4>
    <button mat-icon-button (click)="addDashboard()" [disabled]="isCreate">
      <mat-icon>add_circle</mat-icon>
    </button>
  </mat-card-title>
</mat-card>
<mat-accordion [multi]="false">
  <mat-expansion-panel *ngFor="let d of (dashboards$ | async)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon (click)="setDefault($event, d)">
          {{ d.isDefault ? 'favorite' : 'favorite_border' }}
        </mat-icon>
      </mat-panel-title>
      <mat-panel-description>{{ d.name }}</mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input #name matInput [value]="d.name" />
      <button
        [class.dirty]="d.name !== name.value"
        [class.invalid]="invalid(d, name.value) | async"
        [disabled]="invalid(d, name.value) | async"
        mat-icon-button
        matSuffix
        (click)="updateName(d, name.value)"
      >
        <mat-icon>done</mat-icon>
      </button>
    </mat-form-field>
    <div class="actions">
      <button
        mat-icon-button
        (click)="delete(d)"
        [disabled]="(dashboards$ | async).length === 1"
      >
        <mat-icon>delete</mat-icon>
        <span>Delete Dashboard</span>
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<app-create-dashboard
  *ngIf="isCreate"
  (save)="isCreate = false"
  (cancel)="isCreate = false"
>
</app-create-dashboard>
