@import '../../../../variables.scss';

:host {
  mat-card {
    h4 {
      margin: 10px;
      text-align: center;
      text-align: center;
      font-family: $font;
    }
  }
  mat-card.header {
    margin-bottom: 20px;
    &.header {
      mat-card-title {
        display: grid;
        grid-template-columns: 1fr 40px;
        button {
          color: $accent;
          align-self: center;
        }
      }
    }
  }
  mat-accordion {
    margin-bottom: 20px;
    mat-expansion-panel {
      mat-expansion-panel-header {
        mat-panel-title {
          mat-icon {
            color: $accent;
          }
        }
      }
      .actions {
        width: 100%;
        margin-top: 20px;
      }
      mat-form-field {
        width: 100%;
        button {
          &.dirty {
            mat-icon {
              color: $accent;
            }
          }
          &.invalid {
            mat-icon {
              color: $warn;
              pointer-events: none;
            }
          }
        }
      }
      &:last-of-type {
        margin-bottom: 20px;
      }
    }
  }
  app-create-dashboard {
    margin-top: 20px;
  }
}
