@import '../../../../variables.scss';

:host {
  mat-card {
    margin-bottom: 20px;
    mat-card-title {
      font-family: $font;
      text-align: center;
    }
  }
  mat-accordion {
    mat-expansion-panel-header {
      mat-panel-title {
        mat-icon {
          color: $accent;
        }
      }
    }
  }
}
