<div class="header">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="goToDefaultDashboard()">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item [routerLink]="'/settings'">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="dashboards">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboards</span>
    </button>
  </mat-menu>
  <mat-menu #dashboards="matMenu">
    <button
      *ngFor="let d of (dashboards$ | async)"
      class="dashboard"
      mat-menu-item
      (click)="goToDashboard(d)"
    >
      <mat-icon *ngIf="(isActive(d) | async); else: noicon">done</mat-icon>
      <ng-template #noicon><mat-icon></mat-icon></ng-template>
      <span>{{ d.name }}</span>
    </button>
  </mat-menu>
  <h1 *ngIf="!canEdit; else: editable">{{ header }}</h1>
  <ng-template #editable>
    <h1 class="editable" *ngIf="!editMode; else: edit">
      <button mat-icon-button>
        <mat-icon (click)="editDashboard()">edit</mat-icon>
      </button>
      <span>{{ (activeDashboard$ | async).name }}</span>
    </h1>
    <ng-template #edit>
      <mat-form-field class="header-field">
        <input
          matInput
          [(ngModel)]="dashboardName"
          [value]="dashboardName"
          autofocus
          (blur)="updateDashboard()"
          (keydown)="onKeyDown($event)"
        />
        <button mat-icon-button matSuffix (click)="updateDashboard()">
          <mat-icon>done</mat-icon>
        </button>
      </mat-form-field>
    </ng-template>
  </ng-template>
</div>
<div class="body">
  <router-outlet (activate)="activateRoute($event)"></router-outlet>
</div>
