@import '../variables.scss';

:host {
  .header {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    color: $accent;
    font-family: $font;
    background-color: $primary;
    height: 50px;
    h1 {
      margin: 5px 0px 0px 0px;
      text-align: center;
    }
  }
  .body {
    width: 100%;
    color: $primary;
    padding-top: 45px;
    font-family: $font;
  }
}
