<div class="header">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="'/'">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="dashboards">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboards</span>
    </button>
  </mat-menu>
  <mat-menu #dashboards="matMenu">
    <button
      *ngFor="let d of (dashboards$ | async)"
      class="dashboard"
      mat-menu-item
      (click)="goToDashboard(d)"
    >
      <mat-icon *ngIf="(isActive(d) | async); else: noicon">done</mat-icon>
      <ng-template #noicon><mat-icon></mat-icon></ng-template>
      <span>{{ d.name }}</span>
    </button>
  </mat-menu>
  <h1>MY OVERWATCH - {{ (activeDashboard$ | async).name }}</h1>
</div>
<div class="body"><router-outlet></router-outlet></div>
