@import '../variables.scss';

:host {
  .header {
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    display: grid;
    color: $accent;
    height: 50px;
    position: fixed;
    font-family: $font;
    background: $header-color;
    grid-template-columns: 60px 0fr 0fr 1fr;
    h1 {
      margin: 5px 0px 0px -60px;
      text-align: center;
    }
    mat-form-field {
      width: calc(100% - 60px);
    }
    @media (max-width: $breakpoint-max-sm) {
      height: 100px;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 0fr 0fr;
      h1 {
        overflow: hidden;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 5px 0px 0px 0px;
      }
    }
  }
  .body {
    width: 100%;
    color: $primary;
    padding-top: 45px;
    font-family: $font;
    @media (max-width: $breakpoint-max-sm) {
      padding-top: 100px;
    }
  }
}
