<h1 mat-dialog-title>Add Player Card</h1>
<mat-dialog-content>
  <mat-form-field>
    <mat-select placeholder="Platform" [value]="platform" [(ngModel)]="platform">
      <mat-option [value]="'pc'">PC</mat-option>
      <mat-option [value]="'psn'">Playstation</mat-option>
      <mat-option [value]="'xbl'">Xbox</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Region" [value]="region" [(ngModel)]="region">
      <mat-option [value]="'na'">North America</mat-option>
      <mat-option [value]="'eu'">Europe</mat-option>
      <mat-option [value]="'asia'">Asia</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="BattleTag (Includes #1234)" [(ngModel)]="battletag">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="cancel" mat-button [color]="'primary'" mat-dialog-close>
    Cancel
  </button>
  <button class="submit" mat-button [color]="'accent'"
    [disabled]="!valid" (click)="submit()">
    Submit
  </button>
</mat-dialog-actions>
