@import '../../../../variables.scss';

:host {
  mat-form-field.search {
    width: 90%;
  }
  button.add {
    z-index: 99;
    position: fixed;
    text-align: right;
    padding-right: 5px;
    mat-icon {
      color: $header-color;
    }
  }
  .player-card-container {
    display: grid;
    grid-row-gap: 10px;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @media (max-width: $breakpoint-max-lg) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: $breakpoint-max-md) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: $breakpoint-max-sm) {
      grid-template-columns: 1fr;
    }
    app-player-card {
      width: 300px;
      min-width: 300px;
      min-height: 450px;
      @media (max-width: $breakpoint-max-xs) {
        width: 250px;
        min-width: 250px;
      }
    }
  }
}
