<mat-form-field class="search">
  <input matInput placeholder="Search" [(ngModel)]="searchText" />
  <button
    *ngIf="searchText"
    matSuffix
    mat-icon-button
    (click)="searchText = ''"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<button mat-icon-button class="add" (click)="openAddDialog()">
  <mat-icon>add_circle</mat-icon>
</button>
<div class="card-container">
  <app-player-card
    *ngFor="let bt of (battleTags$ | async)"
    [battleTag]="bt"
    [hidden]="searchText?.length && filtered(bt)"
  >
  </app-player-card>
</div>
