@import './variables.scss';
@import '~@angular/material/theming';

$primary-light: mat-color($mat-primary, 500);

body {
  min-height: 1000px;
  background-repeat: no-repeat;
  background: linear-gradient($primary-light, $accent);
  .mat-menu-panel {
    width: fit-content;
    color: $header-color;
    background-color: $accent;
    .mat-menu-item {
      mat-icon {
        color: inherit !important;
      }
      span {
        font-family: $font-alt;
        font-weight: bold;
        vertical-align: middle;
      }
      &:hover {
        color: $accent;
        background-color: $header-color;
      }
    }
  }
  .header-field {
    .mat-form-field-underline {
      color: $accent;
      background-color: $accent;
    }
  }
}
