@import '~@angular/material/theming';

$mat-primary: mat-palette($mat-gray, 800);
$mat-accent: mat-palette($mat-orange, 800);
$mat-warn: mat-palette($mat-red, 100);

$primary: mat-color($mat-primary);
$accent: mat-color($mat-accent);
$warn: mat-color($mat-warn);
$header-color: #000000;
$footer-color: #000000;

$font: 'Impact';
$font-alt: 'Georgia';

$breakpoint-min-sm: 576px;
$breakpoint-max-sm: 767px;
$breakpoint-min-md: 768px;
$breakpoint-max-md: 991px;
$breakpoint-min-lg: 992px;
$breakpoint-max-lg: 1199px;
$breakpoint-min-xl: 1200px;
